@use '../../../styles/variables';

.heading2 {
  font-size: 20px;
  line-height: 22px;
  letter-spacing: -0.63px;
  font-family: 'Spartan Bold', sans-serif;

  &-primary {
    color: variables.$secondary-4;
  }
}