@use '../../../styles/variables';

.text {
  font-size: 32px;
  line-height: 36px;
  letter-spacing: -1px;
  font-family: 'Spartan Bold', sans-serif;

  &-primary {
    color: variables.$secondary-4;
  }
}