$primary: #7C5DFA;
$primary-2: #9277FF;
$primary-3: #1E2139;
$primary-4: #252945;

$secondary: #DFE3FA;
$secondary-2: #889EB0;
$secondary-3: #7E88C3;
$secondary-4: #0C0E16;

$alert: #EC5757;
$alert-2: #FF9797;
$background-light: #F8F8FB;
$alert-4: #141625;