$primary: #7c5dfa;
$primary-2: #9277ff;
$primary-3: #1e2139;
$primary-4: #252945;

$secondary: #dfe3fa;
$secondary-2: #888eb0;
$secondary-3: #7e88c3;
$secondary-4: #0c0e16;

$alert: #ec5757;
$alert-2: #ff9797;
$background-light: #f8f8fb;
$alert-4: #141625;
