.container {
  margin-bottom: 6rem;

  .title {
    font-size: 28px;
    letter-spacing: -0.875px;
    margin-bottom: 3rem;
  }

  .row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

    &-1 {
      margin-bottom: 2.5rem;
    }

    &-2 {
      margin-bottom: 2.5rem;
    }
  }
}

.select.options.text {
  color: red;
}
