.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  overflow: auto;
}

@media (max-width: 375px) {
  .mainContainer {
    // padding: 5px;
  }
}