.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 100px 10px 0px 10px;

  // overflow-y: scroll;
  overflow: auto;
}

@media (max-width: 375px) {
  .mainContainer {
    padding: 5px;
  }
}