.mainContainer {
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: flex-start;

  padding-top: 4.5rem;
  padding-bottom: 4.5rem;

  padding-left: 20rem;
  padding-right: 15rem;

  flex-grow: 1;
}