.customButton {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 48px;
}

.plusSign {
  margin-left: 0.2rem;
}

.customSpan {
  padding-left: 1rem;
  padding-right: 1rem;
}
