@import '../../../styles/mixins';

.container {
  @include horizontal-flex-center;
  margin-top: 15px;

  h3 {
    text-align: left;
  }

  h3:nth-of-type(1) {
    width: 33%;
  }

  h3:nth-of-type(2) {
    width: 67%;
  }
}
