@use 'styles/variables';

body {
  font-family: 'Spartan Medium', sans-serif;
}

.app-container {
  background-color: lightgrey;
}

.svg-primary {
  fill: variables.$primary;
}

@font-face {
  font-family: "Spartan Medium";
  src: local("Spartan-Medium"),
    url("./fonts/Spartan-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Spartan Bold";
  src: local("Spartan-Bold"),
    url("./fonts/Spartan-Bold.ttf") format("truetype");
}